@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", "sans-serif";
    border: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    user-select: none;
    background-color: rgb(232, 227, 227);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 999;
    background-color: #f1e8e8;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .5);
}

.logo {
    font-size: 1.2em;
    color: #323232;
    user-select: none;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: #323232;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover {
    color: #4c6b7f;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    background: #323232;
    transform: scaleX(0);
    transition: all 0.3s;
}

.navbar a:hover::after {
    transform: scaleX(1);
    background: #4c6b7f;
}

.content {
    width: 90vw;
    height: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title h1 {
    font-size: 3em;
    color: #4c6b7f;
    margin-top: 3%;
}

.title h5 {
    font-size: 1.2em;
    color: #4c6b7f;
}
  
.img {
    width: 1300px;
    height: 500px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.tit h3 {
    font-size: 2em;
    color: #4c6b7f;
    margin-top: 3%;
    border: 1px #4c6b7f;
}